<div class='wrap'>
	<div id='main' class='container clear-top'>

		<div class='row justify-content-center'>
			<div class='col-md-5'>
				<div class='card'>
					<header class='card-header'>

						<h4 class='card-title mt-2'>Registration</h4>
					</header>
					<div class='card-body'>
						<!-- Register formulář -->
						<form action='/register' method='POST'>
							<div class='form-row'>
								<!-- Input na jméno -->
								<div class='col form-group'>
									<input
										type='text'
										class='form-control'
										maxlength='32'
										placeholder='Firstname'
										name='jmeno'
										id='jmeno'
										required
									/>

								</div>
								<!-- Input na příjmení -->
								<div class='col form-group'>

									<input
										type='text'
										class='form-control'
										maxlength='32'
										placeholder='Lastname '
										name='prijmeni'
										id='prijmeni'
										required
									/>
								</div>
							</div>
							<!-- Input pro přezdívku -->
							<div class='form-row'>
								<div class='col form-group'>

									<input
										type='text'
										class='form-control'
										maxlength='32'
										placeholder='Username'
										name='prezdivka'
										id='prezdivka'
										required
									/>
								</div>
							</div>
							<!-- Input pro email -->
							<div class='form-group'>
								<input
									type='email'
									class='form-control'
									placeholder='Enter email'
									name='email'
									id='email'
									required
								/>
							</div>
							<!-- input pro heslo -->
							<div class='form-group'>
								<input
									type='password'
									class='form-control'
									maxlength='60'
									placeholder='Password'
									id='heslo'
									name='heslo'
									required
									{{! 			minlength='5'
									pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}'
									title='Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters' }}
								/>
								<div id='message'>
									<h3>Password must contain the following:</h3>
									<p id='letter' class='invalid'>A <b>lowercase</b> letter</p>
									<p id='capital' class='invalid'>A
										<b>capital (uppercase)</b>
										letter</p>
									<p id='number' class='invalid'>A <b>number</b></p>
									<p id='length' class='invalid'>Minimum <b>8 characters</b></p>
								</div>
							</div>
							<div class='form-group'>
								<button type='submit' class='btn btn-block'>
									Register
								</button>
							</div>
							<!-- Dodělat vypisování chyb -->
							{{message}}
						</form>
					</div>
					<!-- Přesměrování na přihlašování -->
					<div class='card-body text-center'>Do you have an account?
						<a href='/login'>Login</a></div>
				</div>
			</div>

		</div>

	</div>
</div>

<br /><br />

<script src='/javascript/register_validation.js'></script>