<div class='wrap'>
	<div id='main' class='container clear-top'>
		<br /><br /><br /><br /><br />

		<div class='row justify-content-center'>
			<div class='col-md-5'>
				<div class='card'>
					<header class='card-header'>

						<h4 class='card-title mt-2'>Registrace</h4>
					</header>
					<article class='card-body'>
						<!-- Register formulář -->
						<form action='/register' method='POST'>
							<div class='form-row'>
								<!-- Input na jméno -->
								<div class='col form-group'>
									<input
										type='text'
										class='form-control'
										placeholder='Jméno'
										name='jmeno'
										id='fName'
										required
									/>
								</div>
								<!-- Input na příjmení -->
								<div class='col form-group'>

									<input
										type='text'
										class='form-control'
										placeholder='Přijmení '
										name='prijmeni'
										id='lName'
										required
									/>
								</div>
							</div>
							<!-- Input pro přezdívku -->
							<div class='form-row'>
								<div class='col form-group'>

									<input
										type='text'
										class='form-control'
										placeholder='Přezdívka'
										name='prezdivka'
										id='username'
										required
									/>
								</div>
							</div>
							<!-- Input pro email -->
							<div class='form-group'>
								<input
									type='email'
									class='form-control'
									placeholder='Email'
									name='email'
									id='email'
									required
								/>
							</div>
							<!-- input pro heslo -->
							<div class='form-group'>
								<input
									class='form-control'
									type='password'
									placeholder='Heslo'
									name='heslo'
									id='password  '
									required
									min='5'
								/>
							</div>
							<div class='form-group'>
								<button type='submit' class='btn btn-block'>
									Zaregistrovat se
								</button>
							</div>
							<!-- Dodělat vypisování chyb -->
							{{message}}
						</form>
					</article>
					<!-- Přesměrování na přihlašování -->
					<div class='card-body text-center'>Máte už účet?
						<a href='/login'>Přihlásit se</a></div>
				</div>
			</div>

		</div>

	</div>
</div>

<br /><br />