<div class='container'>
	<div class='d-flex justify-content-center align-middle'>
		<div class='col-md-5'>
			<div class='card'>
				<!-- Button na přesměrování na signup page-->
				<header class='card-header col-sm'>
					<div class='row'>
						<h4 class='card-title mt-2 col-sm'>Edit avatar</h4>
						<a
							href='/profile/account'
							class='btn btn-block editBtn col-sm'
						>Home</a>
					</div>
				</header>
				<div class='card-body'>
					<form
						action='/avatar/upload'
						method='POST'
						enctype='multipart/form-data'
					>
						<div class='form-group'>
							<input type='file' class='form-control' name='image' />
							<br />
							<div class='form-group'>
								<button type='submit' class='btn btn-block'>
									Submit
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>