<form action='insert-profile-info' method='POST'>
	<textarea rows='3' name='bio' placeholder='Enter bio'></textarea>
	<br />
	<input type='text' name='location' placeholder='Enter location' />
	<br />
	<input type='date' name='dateBirth' placeholder='Enter datebirth' />
	<br />
	<input type='submit' value='submit' />
</form>