.breadcrumb {
	background-color: #1d1d1d;
}

a {
	color: #8e73f0;
}

a:hover {
	color: #715ac4;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: gray;
}

.avatar {
	width: 100px;
	height: 100px;
}
