<footer>
	<div class='footer--container'>
		<div class='row footer__row'>

			<div class='footer__social--list'>
				<a
					class='footer__social--link link__hover-effect link__hover-effect--white'
				>
					:]
				</a>
				<a
					target='_blank'
					class='footer__social--link link__hover-effect link__hover-effect--white'
				>
					:]
				</a>
				<a
					class='footer__social--link link__hover-effect link__hover-effect--white'
				>
					Contact:]
				</a>
				<!-- <a href="./assets/David Bragg Resume.pdf" target="_blank" class="
          footer__social--link
          link__hover-effect
          link__hover-effect--white
        ">
            Resume
          </a> -->
			</div>
			<div class='footer__copyright'>Copyright &copy; 2022 Aureu</div>
		</div>
	</div>
</footer>