<footer class='page-footer font-small purple pt-4 fixed-bottom'>
	<!-- Copyright -->
	<div class='text-center p-4' style='background-color: rgba(0, 0, 0, 0.2);'>
		© 2022 Copyright:
		<a class='text-dark' href=''>Social Media</a>
	</div>
	<!-- Copyright -->
</footer>