<section class='navigation'>
	<nav>

		<ul class='nav__link--list'>
			<li class='nav__link'>
				<a
					href='/admin/users'
					class='nav__link--anchor link__hover-effect link__hover-effect--black'
				>Users</a>
			</li>
			<li class='nav__link'>
				<a
					href='/admin/posts'
					class='nav__link--anchor link__hover-effect link__hover-effect--black'
				>Posts</a>
			</li>

			<li>
				<a
					href='/logout'
					class='nav__link--anchor-primary link__hover-effect link__hover-effect--black'
				>LOGOUT</a>
			</li>
		</ul>
	</nav>
</section>