<form action='/posts/add-post' method='POST'>
	<textarea
		class='post--textarea'
		placeholder='Napište něco!'
		name='postMessage'
		id='postMessage'
		rows='4'
		maxlength='250'
		required
	></textarea>
	<div class='bottom-right'>
		<script src='/javascript/textarea-length.js'></script>
		<span id='countdown'>250</span>
		<button class='btn add--post'>Přidat</button>
	</div>
</form>