<div class='col-6'>
	<div class='form-floating mb-3'>
		<input
			type='text'
			class='form-control'
			id='floatingInput'
			value='{{this.firstName}}'
			placeholder='First Name'
			name='fName'
		/>
		<label for='floatingInput'>First Name</label>
	</div>
</div>
<div class='col-6'>
	<div class='form-floating mb-3'>
		<input
			type='text'
			class='form-control'
			id='floatingInput'
			value='{{this.lastName}}'
			placeholder='Last Name'
			name='lName'
		/>
		<label for='floatingInput'>Last Name</label>
	</div>
</div>
<div class='col-6'>
	<div class='form-floating mb-3'>
		<input
			type='email'
			class='form-control'
			id='floatingInput'
			value='{{this.email}}'
			placeholder='email@email.com'
			name='email'
		/>
		<label for='floatingInput'>Email</label>
	</div>
</div>
<div class='col-6'>
	<div class='form-floating mb-3'>
		<input
			type='password'
			class='form-control'
			id='floatingInput'
			value='{{this.password}}'
			placeholder='password'
			name='password'
		/>
		<label for='floatingInput'>Password</label>
	</div>
</div>
<div class='col-12 d-grid'>
	<button class='btn btn-primary' type='submit'>Submit</button>
</div>