body {
	background-color: #1d1d1d;
	color: white;
}
.centered-form {
	margin-top: 60px;
}

.container{
  margin-top: 60px;
}

.centered-form .panel {
	background: #e4e3e3;

	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.card {
	background-color: #2c2c2c;
}

.form-control {
	padding: 5px;
	font-size: 16px;
	border-width: 1px;
	border-color: #3a3b3b;
	background-color: #3a3b3b;
	color: #d3d3d3;
	border-style: solid;
	border-radius: 6px;
	box-shadow: 0px 0px 0px rgba(66, 66, 66, 0.27);
	text-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
}

.form-control:focus {
	outline: none;
	border-color: #3a3b3b;
	background-color: #3a3b3b;
	color: #d3d3d3;
}

.btn {
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	font-family: Arial;
	color: #ffffff;
	font-size: 15px;
	background: #8e73f0;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.btn:hover {
	background: #644fb5;
	text-decoration: none;
}

a {
	color: #8e73f0;
}

a:hover {
	color: #8e73f0;
}
