@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #1d1d1d;
	color: white;
}
.content{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

.wrapper--content{
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display:flex
}

/* NAVIGATION BAR  */
li {
  list-style-type: none;
}
nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link--list{
  display: flex;
}

.nav__link--anchor{
  margin: 0 12px;
  text-decoration: none;
  font-weight: 700;
  color:white
}

.nav__link--anchor-primary {
  background-color: #8e73f0;
  padding: 8px 20px;
  border-radius: 50px;
  color:white
}

.nav__link--anchor-primary:hover {
  background-color: #644fb5;
}

.dropdown {
  margin: 0 12px;
  text-decoration: none;
  font-weight: 700;
  color:white;
  border-radius: 50px;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  margin: 0;
  
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color:white
}

.dropdown--content {
  display: none;
  position: absolute;
  background-color: #585858;
  min-width: 160px;
}

.dropdown--content a {
  float: none;
  padding: 6px 8px;
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown--content a:hover {
  background-color: #2b2c2c;
}

.dropdown:hover .dropdown--content {
  display: block;
}

/* SEARCH BAR */

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #8e73f0;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #8e73f0;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #8e73f0;
  background: #8e73f0;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/* ASIDE PROFILE */

.profile{
  background-color: #3a3b3b;
  width:30%;
  padding: 15px;
  margin: auto;
}

.profile--avatar {
  height: 200px;
  width: 200px;
  background: #FFF;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: auto;
  margin-bottom: 20px;
}

.info{
  margin-top: 10px;
	padding: 0px;
}


/* POSTS */

.posts{
	background-color: #3a3b3b;
	width: 100%;
  padding: 10px;
  margin: auto;
	margin-left: 20px;
}

.post--avatar{
	height: 30px;
	width: 30px;
}

.post--add {
	border-bottom: 1px solid #E6ECF0;
  padding: 10px 15px;
}

.posts--post {
	border-bottom: 1px solid #E6ECF0;
  padding: 10px 15px;
  display: flex;
}

.post--info{
	margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.post--content{
	display: flex;
	font-size: 14px;
  color: white;
  margin-top: 5px;
}