/* header {
	background: #eee;
	background-image: linear-gradient(red, yellow);
	height: 250px;
	width: 100%;
} */

.container {
	padding: 50px 0;
	width: 100%;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto;
	padding: 0 12px;
}

.left {
	position: sticky;
	top: 0;
	margin-top: 200px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}

.profile--wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 300ms ease;
}

.profile--wrap .profile__name {
	transform: scale(1);
}

.profile--wrap:hover {
	filter: brightness(80%);
}
.profile__avatar--img {
	width: 200px;
	height: 200px;
	margin-top: -120px;
	border-radius: 100px;
	border: 4px solid #fff;
}

.follow:hover {
	background-color: white;
}
.profile__name {
	bottom: -10px;
	transform: scale(0);
	transition: all 300ms ease;
}

.name {
	margin-top: 20px;
	font-weight: 600;
	font-size: 18pt;
}

.info {
	margin-top: -5px;
	margin-bottom: 5px;
	font-size: 11pt;
}

.stats {
	margin-top: 25px;
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 1px solid #ededed;
}

.number-stat {
	padding: 0px;
	font-size: 14pt;
	font-weight: bold;
}

.desc-stat {
	margin-top: -15px;
	font-size: 10pt;
}

.desc {
	text-align: center;
	margin-top: 25px;
	margin: 25px 40px;
	font-size: 11pt;
	padding-bottom: 25px;
	border-bottom: 1px solid #ededed;
}

.right {
	padding: 0 25px 0 25px !important;
}

.nav {
	display: inline-flex;
}

.nav li {
	margin: 40px 30px 0 10px;
	cursor: pointer;
	font-size: 13pt;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.nav li:hover,
.nav li:nth-child(1) {
	border-bottom: 2px solid #999;
}

.follow {
	position: absolute;
	right: 8%;
	top: 35px;
	font-size: 11pt;
	background-color: #42b1fa;
	padding: 8px 15px;
	cursor: pointer;
	transition: all 0.4s;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.follow:hover {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 990px) {
	.nav {
		display: none;
	}

	.follow {
		width: 50%;
		margin-left: 25%;
		display: block;
		position: unset;
		text-align: center;
	}
}

.likes {
	align-items: center;
}

.likes-count {
	padding-left: 5px;
}

.avator {
	border-radius: 100px;
	width: 48px;
	height: 48px;
	margin-right: 15px;
}

#box {
	max-width: 490px;
	background: #3a3b3b;
	margin: 0 auto;
	border-radius: 3px;
	padding: 15px;
	border-bottom: 1px solid rgb(0, 0, 0);
	border-top: 1px solid #000000;
}

.bottom-right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#posts {
	border: 2px solid black;
	border-radius: 10px;
	margin-top: 8px;
	margin-bottom: 10px;
}
textarea {
	background-color: #3a3b3b;
	width: 100%;
	padding: 5px;
	margin-bottom: 6px;
	color: white;
	border-radius: 5px;
}

textarea:hover {
	border-color: #8e73f0;
}

textarea:focus {
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	border-color: #8e73f0;
}

.tweet-wrap {
	border: 1px solid black;
	padding: 10px;
	background-color: #3a3b3b;
	width: 500px;
}
.tweet-header {
	display: flex;
	align-items: flex-start;
	font-size: 14px;
	overflow: hidden;
}
.tweet-header-info {
	font-weight: bold;
}
.tweet-header-info span {
	color: #657786;
	font-weight: normal;
	margin-left: 5px;
}
.tweet-header-info p {
	font-weight: normal;
	margin-top: 5px;
	word-break: break-all;
}
.tweet-text-wrap {
	padding-left: 60px;
}

.tweet-info-counts {
	display: flex;
	margin-left: 60px;
	width: 100%;
	margin-top: 10px;
}
.tweet-info-counts div {
	display: flex;
	margin-right: 20px;
}

.comment--row {
	display: flex;
	justify-content: flex-start;
}

.comment--avatar {
	width: 25px;
	height: 25px;
	border-radius: 100px;
}

.comment--input {
	border-radius: 5px;
	margin-left: 5px;
	width: 100%;
}

@media screen and (max-width: 430px) {
	body {
		padding-left: 20px;
		padding-right: 20px;
	}
	.tweet-header {
		flex-direction: column;
	}
	.tweet-header img {
		margin-bottom: 20px;
	}
	.tweet-header-info p {
		margin-bottom: 30px;
	}
	.tweet-img-wrap {
		padding-left: 0;
	}
	.tweet-info-counts {
		display: flex;
		margin-left: 0;
	}
	.tweet-info-counts div {
		margin-right: 10px;
	}
}
