.content{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

.wrapper--content{
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display:flex
}


/* ASIDE PROFILE */

.profile{
  background-color: #3a3b3b;
  width:30%;
  padding: 15px;
  margin: auto;
}

.profile--avatar {
  height: 200px;
  width: 200px;
  background: #FFF;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: auto;
  margin-bottom: 20px;
}

.info{
  margin-top: 10px;
	padding: 0px;
}


/* POSTS */

.posts{
	background-color: #3a3b3b;
	width: 100%;
  padding: 10px;
  margin: auto;
	margin-left: 20px;
}

.post--avatar{
	height: 30px;
	width: 30px;
}

.post--add {
	border-bottom: 1px solid #E6ECF0;
  padding: 10px 15px;
}

.posts--post {
	border-bottom: 1px solid #E6ECF0;
  padding: 10px 15px;
  display: flex;
}

.post--info{
	margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.post--content{
	display: flex;
	font-size: 14px;
  color: white;
  margin-top: 5px;
}