@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #1d1d1d;
	color: white;
}

section {
	display: flex;
}

.container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin: 0 auto;
}

.row {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: space-around;
}

#sec-one h1 {
	margin: 0;
}

.flex-item {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	background-color: green;
}

/* FOR DEMO AND DEV */
#sec-one {
	max-width: 100vw;
	min-height: 100vh;
}

#sec-two {
	background-color: #a3b5d3;
	max-width: 100vw;
	min-height: 100vh;
}

#sec-three {
	background-color: #429;
	max-width: 100vw;
	min-height: 100vh;
}

section .container {
	padding: 2em;
}

.top-container {
	margin: auto;
}

.item-one,
.item-two,
.item-three {
	padding: 1em;
}
