@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
    height:100%;
    width:100%;
    margin:0;
}

body {
  display: flex;
}

form {
  margin: auto;
  text-align: center;
}

