<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">WebSiteName</a>

     
    </div>
    <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
      <li class="active"><a href="/account">{{}}<!--Udělat jmeno uživatele když je přihlášen--></a></li>
      <li><a href="#friends">Friends</a></li>
      <li><a href="/login">logout</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h3>Account</h3>
  <p>Welcome to your account</p>
</div>