<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin/user_list">Domů</a></li>
    <li class="breadcrumb-item active" aria-current="page">Úprava uživatele</li>
  </ol>
</nav>

<!-- Alert s buttonem na zavření -->
{{#if alert}}
  <div class="alert alert-dark alert-dismissible fade show" role="alert">
    {{alert}}
  </div>
{{/if}}
<!-- Zobrazení user-form z Partials -->
{{#each rows}}
<form class="row g-3 needs-validation" method="POST" action="/admin/edituser/{{this.user_id}}" novalidate> 
  {{> user-form-nopassword}}
</form>
{{/each}}
{{> footer}}