<!-- Udělat landing page, main page na stránku s nav barem, odkazem na login atd-->
  <nav>
    <ul>
      <li><a href="home">Home</a></li>
      <li><a href="account">Account</a></li>
      <li><a href="/register">Sign up</a></li>
    </ul>
  </nav>
  <main>
    <!-- Here goes main content -->
  </main>
  <footer>
    <!-- Footer -->
  </footer>