<div class='container'>
	<br /><br /><br /><br /><br /><br />

	<div class='row justify-content-center'>
		<div class='col-md-6'>
			<div class='card'>
				<header class='card-header'>
					<a
						href='/user/login'
						class='float-right btn btn-outline-primary mt-1'
					>Přihlásit se</a>
					<h4 class='card-title mt-2'>Zaregistrovat se</h4>
				</header>
				<article class='card-body'>
					<!-- Register formulář -->
					<form action='/user/signup' method='POST'>
						<div class='form-row'>
							<!-- Input na jméno -->
							<div class='col form-group'>
								<label>Jméno </label>
								<input
									type='text'
									class='form-control'
									placeholder=''
									name='fName'
									id='fName'
								/>
							</div>
							<!-- Input na příjmení -->
							<div class='col form-group'>
								<label>Přijmení</label>
								<input
									type='text'
									class='form-control'
									placeholder=' '
									name='lName'
									id='lName'
								/>
							</div>
						</div>
						<!-- Input pro přezdívku -->
						<div class='form-row'>
							<div class='col form-group'>
								<label for='username'>Přezdívka</label>
								<input
									type='text'
									class='form-control'
									placeholder=''
									name='username'
									id='username'
								/>
							</div>
						</div>
						<!-- Input pro email -->
						<div class='form-group'>
							<label>Email</label>
							<input
								type='email'
								class='form-control'
								placeholder=''
								name='email'
								id='email'
							/>
						</div>
						<!-- input pro heslo -->
						<div class='form-group'>
							<label>Heslo</label>
							<input
								class='form-control'
								type='password'
								name='password'
								id='password  '
							/>
						</div>
						<div class='form-group'>
							<button type='submit' class='btn btn-primary btn-block'>
								Registrovat se
							</button>
						</div>
						{{message}}
					</form>
				</article>
				<div class='border-top card-body text-center'>Máte účet?
					<a href='/user/login'>Log In</a></div>
			</div>
		</div>

	</div>

</div>

<br /><br />