body {
	background-color: #1d1d1d;
	color: white;
}

.navbar {
	background-color: rgba(0, 0, 0, 0.2);
	color: purple;
}

.btn {
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	font-family: Arial;
	color: #ffffff;
	font-size: 15px;
	background: #8e73f0;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.btn:hover {
	background: #644fb5;
	text-decoration: none;
}

a {
	color: #8e73f0;
}

a:hover {
	color: #8e73f0;
}
