.container {
	margin: 20px;
}

.btn {
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	color: #ffffff;
	font-size: 15px;
	background: #8e73f0;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	transition: all 300ms ease;
}

.btn:hover {
	background: #644fb5;
}
