@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  
}


body {
	background-color: #1d1d1d;
	color: white;
}

a {
	color: #8e73f0;
}

a:hover {
	color: #8e73f0;
}