

<nav class='navbar navbar-expand-lg'>
	<a class='navbar-brand' href='/account'><img
			class='navbar--avatar'
			src='/Avatars/{{profile.file_src}}'
			alt='User'
		/>{{profile.firstname}}
		{{profile.lastname}}</a>
	<button class='navbar-toggler' type='button'>
		<span class='navbar-toggler-icon'></span>
	</button>
		<ul
			class='navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll'
			style='max-height: 100px;'
		>
			<li class='nav-item active'>
				<a class='nav-link' href='/main'><i class="fa-solid fa-house"> </i>Hlavní stránka
					<span class='sr-only'>(current)</span></a>
			</li>

			<li class='nav-item dropdown'>
				<a class='nav-link' href='/logout'><i class="fa-solid fa-right-from-bracket"> </i>Odhlásit se</a>

			</li>

		</ul>
		<form class='form-inline my-2 my-lg-0' method='POST' action='/search'>
			<input
				class='typeahead tt-query'
				id='searchbar'
				spellcheck='false'
				autocomplete='off'
				name='typeahead'
				type='text'
				placeholder='Hledejte uživatele!'
			/>
		</form>
	</div>
</nav>