<style>
	li { }
</style>
<section id='header'>
	<nav class='navbar navbar-expand-md justify-content-center'>
		<div class='navbar-brand d-flex w-50 mr-auto'>
			<li class='nav-item'>
				<a class='nav-link' href='/logout'><i
						class='fa-solid fa-right-from-bracket'
					> </i>Odhlásit se</a>

			</li>
		</div>
		<button
			class='navbar-toggler'
			type='button'
			data-toggle='collapse'
			data-target='#collapsingNavbar3'
		>
			<span class='navbar-toggler-icon'></span>
		</button>
		<div class='navbar-collapse collapse w-100' id='collapsingNavbar3'>
			<ul class='navbar-nav w-100 justify-content-center'>
				<li class='nav-item active'>
					<a class='nav-link' href='/admin/users'><i
							class='fa-solid fa-user'
						></i>
						Uživatelé</a>
				</li>
				<li class='nav-item active'>
					<a class='nav-link' href='/admin/posts'><i
							class='fa-solid fa-address-card'
						></i>
						Příspěvky</a>
				</li>
			</ul>
			<ul class='nav navbar-nav ml-auto w-100 justify-content-end'>
				<li class='nav-item'>
					<a class='nav-link' href=''><img
							class='navbar--avatar'
							src='/Avatars/{{profile.file_src}}'
							alt='User'
						/>{{profile.firstname}}
						{{profile.lastname}}</a>
				</li>

			</ul>
		</div>
	</nav>
</section>